* {
  font-family: 'Roboto', sans-serif;
}

.ultra-violet {
  background-color: #5F4B8B !important;
}

.raspberry {
  background-color: #D72D5C;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  height: 72px;
}

nav .brand-logo {
  font-size: 2.4em;
  font-weight: 500;
  letter-spacing: 3px;
  -webkit-transform: translateX(-50%) translateY(9px) !important;
  transform: translateX(-50%) translateY(9px) !important;
}

main {
  flex: 1 0 auto;
  background-color: #5F4B8B;
}

.row {
  margin-bottom: 0;
}

.card {
  margin: 1rem 0 1rem 0;
}

.card .card-action {
  padding: 12px 24px;
}

.dropdown-content li>span {
  color: #5F4B8B;
}

.row.card-action {
  margin: 0 !important;
  padding-bottom: 12px;
}

.card-action.empty-place {
  border-top: none;
}

.control-panel {
  position: absolute;
  width: 100%;
  z-index: 1;
}

.control-panel label {
  color: white;
}

.control-panel .card-action {
  border-top: none;
}

.collapsible {
  margin: 0;
  border: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.collapsible-header {
  position: absolute;
  top: -50px;
  width: 100%;
  justify-content: center;
  border-bottom: none;
  background-color: transparent;
}

.collapsible-header .material-icons {
  margin: 0;
}

.collapsible-body {
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 12px;
}

.stream {
  width: 640px;
}

.card-image {
  background-color: #fff;
}

.gallery-icon {
  position: absolute;
  right: 24px;
  margin: 0 !important;
}

.gallery-icon img {
  height: 36px;
  border-radius: 2px;
}

.hidden-receiver {
  display: none;
}

#image-gallery {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

#image-gallery .material-placeholder {
  width: 27%;
  margin: 12px 3%;
}

#image-gallery img {
  width: 100%;
  margin: 0;
}

.material-placeholder {
  position: relative;
}

#materialbox-overlay {
  background-color: #5F4B8B;
}

.remove-btn {
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.4rem;
}

.clear-icons {
  font-size: 0.8rem !important;
  font-weight: 900;
  line-height: 0 !important;
}

.page-footer {
  padding-top: 0;
}

.page-footer .footer-copyright {
  color: #FFF;
  background-color: transparent;
}

.easteregg-trigger {
  cursor: pointer;
}

.easteregg {
  float: right;
}

@media only screen and (min-width: 600px) {
  nav .brand-logo {
    -webkit-transform: translateX(-50%) translateY(5px) !important;
    transform: translateX(-50%) translateY(5px) !important;
  }
}
