<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RPI EYES Gallery</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/materialize.min.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" type="text/css">
  <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.png') }}" type="image/png">
</head>

<body>
  <nav>
    <div class="nav-wrapper valign-wrapper ultra-violet z-depth-2">
      <a href="/" class="brand-logo center">GO BACK</a>
    </div>
  </nav>
  <main class="valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m10 offset-m1 l8 offset-l2">
          <div class="card z-depth-5" id="image-gallery">
          </div>
        </div>
      </div>
    </div>
    <div id="modal1" class="modal">
      <div class="modal-content ultra-violet white-text">
        <h4>WARNING</h4>
        <p>Are you sure you want to delete it?</p>
      </div>
      <div class="modal-footer ultra-violet">
        <a href="#!" class="modal-action modal-close white-text waves-effect waves-green btn-flat">NOPE</a>
        <a href="#!" class="modal-action modal-close white-text waves-effect waves-green btn-flat sure-btn">SURE</a>
      </div>
    </div>
    <div class="hidden-receiver">
      <div class="files-names-val">
        {% if files_names %} {{ files_names }} {% endif %}
      </div>
    </div>
  </main>
  <footer class="page-footer ultra-violet">
    <div class="footer-copyright">
      <div class="container">
        <span class="easteregg-trigger">© 2017 Copyright 我覺得可以</span>
        <div class="easteregg scale-transition scale-out">
          <i class="material-icons">sentiment_very_satisfied</i>
        </div>
      </div>
    </div>
  </footer>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/materialize.min.js') }}"></script>
<script>
  $(document).ready(function () {
    $('.card').height($('.card').width());

    if ($('.files-names-val').html().trim() !== '') {
      var filesNames = $('.files-names-val').html().trim().split(',');
      for (var i = filesNames.length - 1; i >= 0; i -= 1) {
        var insertHtml = '<img class="materialboxed z-depth-2" data-caption="CAPTION" src="/static/pic/NAME">';
        var timestamp = filesNames[i].replace(/image_\d_/, '').replace(/-/, '/').replace(/-/, '/').replace(/_/, ' ').replace(/-/, ':').replace(/-/, ':').replace(/.jpg/, '');
        $('#image-gallery').append(insertHtml.replace(/NAME/, filesNames[i]).replace(/CAPTION/, timestamp));
      }
      $('.materialboxed').materialbox();
      $('.material-placeholder').each(function (index) {
        $(this).append('<a class="modal-trigger ' + index + '-trigger raspberry btn-floating remove-btn" href="#modal1"><i class="material-icons clear-icons">clear</i></a>')
      });
      $('.modal').modal({
        startingTop: '30%',
        endingTop: '35%',
        ready: function(modal, trigger) {
          var index = trigger[0].classList[1].replace(/-trigger/, '');
          $('.' + index + '-trigger').addClass('pulse');
          $('.sure-btn').attr('href', '/remove?index=' + index);
        },
        complete: function () {
          $('.modal-trigger').removeClass('pulse');
        }
      });
    }

    $('.easteregg-trigger').click(function () {
      if ($('.easteregg').hasClass('scale-out')) {
        $('.easteregg').removeClass('scale-out');
      } else {
        $('.easteregg').addClass('scale-out');
      }
    });
  });
</script>

</html>
